.container {
    display: flex;
    width: 600px;
    height: 400px;
    background-color: yellow;
    justify-content: space-between;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
  }

  .item {
    background-color: purple;
    width: 100px;
    height: 100px;
    list-style-type: none;
    margin-right: 0;
    margin-left: 10px;
}

ul {
    padding-inline-start: 0;
}



